:root {
    --color-object: #646cff;
    --color-accent: #535bf2;
    --color-input: #c6c6c6;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px 0 20px;
}
button {
    height: 39.19px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-object);
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    transition: 1s;
    border-color: black;
    background-color: var(--color-accent);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
select{
  padding: 0.6em 0.6em;
  font-size: 1em;
  border-radius: 8px;
  height: 40.19px;
  min-width: 170px;
}
@media only screen and (min-width: 769px) {
  body{
    margin: 30px 150px 0 150px;
  }
    
}
@media only screen and (min-width: 1441px) {
  body{
    margin: 30px 300px 0 300px;
  }
  
}